@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #fff;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
    color: #000;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116px;
}
.header-menu{
    display: flex;
    width: 1300px;
    height: 66px;
}
.header-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 16.66%
}
.header-menu-item a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #343434;
    text-transform: uppercase;
}
.header-menu-item-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 16.66%
}
.header-menu-item-phone a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;

    color: #343434;
    text-transform: uppercase;
}
.header-menu-catalog-list-item a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 185.5%;
    /* or 32px */

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 11px;
    color: #343434;
    text-transform: none;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 16.66%;
    overflow: hidden;
}
.header-menu-catalog-list-item:hover{
    background: #FF9619;
}
.header-menu-catalog-list-item:hover a{
    color : #fff;
}
.header-menu-item-catalog:hover .header-menu-catalog-list{
    visibility: visible;
}
.header-menu-catalog-list{
    visibility: hidden;
    position: absolute;
    width: 240px;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.header-menu-catalog-list-item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 185.5%;
    /* or 32px */

    display: flex;
    align-items: center;

    color: #343434;
   
    justify-content: start;
    width: 100%;
    height: 39px;

}
.main-block-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 590px;
    margin: 0, 116,0,0;
    background: #CCB2A3;
}
.main-block-info-left-data{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.main-block-info-left-data-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 110%;
    height: 184px;
    width: 270px;
    /* or 46px */

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-transform: capitalize;
    color: #fff;    
}
.main-block-info-left-data-text div::first-letter{
    color: #FF9619;
}

.main-block-info-left-data-button{
   
    width: 209.54px;
    height: 43px;
    margin-top: 60px;

    

    background: #FF9619;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.main-block-info-right-data{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 870px;
    height: 617px;
    margin-left: 30px;
}
.main-block-info-right-data-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 127.5%;
    /* or 25px */
    height: 25px;
    margin: 50px 0px 35px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    color: #FFFFFF;
}
.main-block-info-right-data-slider-indicators{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    margin: 20px 0px 20px 0px;
}
.main-block-info-right-data-slider-indicator{
    height: 12.91px;
    margin: 0px 5px 0px 5px;
    width: 12.91px;
    border-radius: 100%;
    background-color: #F2F3F5;
}
.main-block-info-right-data-slider-indicator-current{
    background-color: #FF9619;
}
.newest-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}
.newest-block-data-slider{
    display: flex;
    align-items: center;
    justify-content: first baseline;
}
.newest-block-header{
    width: 1170px;
    margin-bottom: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 110%;
    /* identical to box height, or 39px */

    display: flex;
    align-items: center;
    justify-content: flex-starts;
    color: #343434;
}
.newest-block-header div::first-letter{
    color: #FF9619;
}
.newest-block-data-slider-arrow-left{
    width: 29.17px;
    height: 16.09px;
    margin-bottom: 100px;
}
.newest-block-data-slider-arrow-right{
    width: 29.17px;
    height: 16.09px; 
    margin-bottom: 100px;
}
.newest-block-data-slider-images-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 278px;
    margin: 0px 40px 0px 40px;
    background: #F2F3F5;
}
.newest-block-data-slider-text-name-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 5px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    
    text-transform: uppercase;
    
    color: #343434;
}
.newest-block-data-slider-text-price-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 15px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #FF9619;
}
.individual-block{
    margin-top: 120px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.individual-block-background-right{
    position: absolute;
    width: 73%;
    height: 453px;
    background: #5B5B5B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.individual-block-background-left{
    position: absolute;
    width: 56%;
    left: 0px;
    height: 390px;
    background: #A9C2BE;
    display: flex;
    justify-content: end;
}
.individual-block-background-left-2{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 31%;
    top: 390px;
    background: #FF9619;
}
.individual-block-background-left-img{
    position: absolute;
    margin-top: 30px;
}
.individual-block-flag{
    position: absolute;
    width: 149px;
    height: 110px;
    left: 65%;
    bottom: 90%;
    
    background: #FF9619;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.individual-block-flag-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    /* or 19px */
    margin: 0 49px 22px 11px;
    display: flex;
    align-items: center;
    letter-spacing: 0.245em;

    color: #FFFFFF;
}
.individual-block-text{
    margin-left: 200px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.individual-block-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    /* or 35px */

    display: flex;
    align-items: center;
    font-variant: small-caps;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.individual-block-title div::first-letter{
    color: #FF9619;
}
.individual-block-sub-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    /* or 25px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 15px;

    color: #FFFFFF;
}
.individual-block-sub-title-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    width: 374px;

    color: #FFFFFF;
}
.individual-block-button{
    width: 268px;
    height: 43px;
    margin-top: 60px;

    

    background: #FF9619;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.history-block{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.history-block-header{
    width: 1170px;
    margin-bottom: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #343434;
}
.history-block-header div::first-letter{
    color: #FF9619;
}
.history-block-data{
    display: flex;
    width: 1170px;
    justify-content: end;
}
.history-block-data-left{
    position: absolute;
    width: 538px;
    height: 247px;
    left: 10%;
    margin-top: 120px;

    background: #5B5B5B;
}

.history-block-data-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    /* identical to box height, or 25px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    font-variant: small-caps;

    margin: 51px 0px 0px 42px;
    color: #FFFFFF;
}
.history-block-data-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    margin: 25px 40px 0px 42px;
    color: #FFFFFF;

}
.history-block-data-orange-block{
    position: absolute;
    width: 101px;
    height: 55px;
    left: 70%;
    margin-top: 15px;

    background: #FF9619;
}
.history-block-data-years{
    height: 144px;
    width: 1170px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}
.history-block-data-year{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 127.5%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;

    color: #343434;
}
.history-block-data-big-year{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 144px;
    line-height: 150%;
    /* or 216px */

    display: flex;
    align-items: center;

    color: rgba(52, 52, 52, 0.1);
}
.last-post-block{
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.last-post-block-slider-item{
    margin: 0px 4px 0px 4px;
} 
.question-block{
    display: flex;
    width: 100%;
    height: 479px;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 160px;

    background: #A9C2BE;
}
.question-block-data{
    display: flex;
    width: 1170px;
    align-items: center;
    justify-content: space-between;
}
.question-block-form-block{
    position: absolute;
    width: 470px;
    height: 417px;
    background: #FFFFFF;
    left: 52%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.question-block-form-small-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FF9619;
    margin-top: 31px;
    margin-left: 50px;

}
.question-block-form-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 50px;

    color: #343434;

}
.question-block-form-decoration{
    position: absolute;
    left: -15%;
    top: -15%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 160px;
    line-height: 110%;
    /* or 176px */

    display: flex;
    align-items: center;

    color: #FF9619;
}
.question-block-form{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    height: auto;
    background: #fff;
}
.question-block-form input[type="text"], .question-block-form input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #ECE9E6;
    padding: 0.5rem;
    width: 355px;
    outline: none;
    color: #3d3d3d;
    transition: 0.25s;
}
.question-block-form input[type="password"]{
    margin-bottom: 10px;
}
.question-block-form input[type="text"]:focus, question-block-form input[type="password"]:focus{
    width: 370px;
    border-color: #74ebd5;
}
.question-block-form-input-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.question-block-form-button{
    width: 209.54px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5B5B5B;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 39px;
}
.question-block-form-input-checkbox input[type="checkbox"]{
    border: 1px solid #D1D1D1;
    width: 20px;
    height: 20px;
}
.question-block-form-input-checkbox-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #343434;

    opacity: 0.5;
    margin-left: 10px;
}

.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.footer-text-logo{
    width: 1440px;
    display: flex;
    justify-content: end;
    align-items: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 69%;
    /* or 143px */

    display: flex;
    align-items: center;
    letter-spacing: 0.13em;

    color: #5B5B5B;
}
.footer-main{
    display: flex;
    width: 100%;
    height: 365px;
    flex-direction: column;
    align-items: center;
    background: #5B5B5B;
}
.footer-main-all-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.footer-main-all-data-item{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer-main-all-data-item-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    /* or 20px */

    display: flex;
    align-items: start;
    text-align: start;
    letter-spacing: 0.16em;
    text-transform: capitalize;

    margin-bottom: 25px;
    width: 133px;
    color: #FFFFFF;
}
.footer-main-copirite{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: capitalize;

    color: #FFFFFF;

}
.footer-main-all-data-item-socialLinks{
    display: flex;
    align-items: start;
    flex-direction: row;
    margin-bottom: 33px;
}
.footer-main-all-data-item-phone{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    /* or 20px */

    display: flex;
    align-items: start;
    text-transform: uppercase;

    margin-bottom: 33px;

    color: #FFFFFF;
}
.footer-block-button{
    width: 321px;
    height: 43px;
    margin-top: 30px;
    background: #FF9619;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-block-button-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-overflow: unset;
    /* or 24px */
    margin-left: 11px;
    color: #FFFFFF;
}
.footer-block-button-img{
    margin-right: 11px;
}
.top-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.top-block-data{
    display: flex;
    align-items: center;
    width: 1170px;
    justify-content: space-between;
}
.top-block-item{
    width: 278px;
    height: 207px;
    margin-bottom: 150px;
}
.top-block-item-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 127.5%;
    /* or 23px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #343434;

}
.top-block-item-number{
    position: absolute;
    width: 107px;
    height: 140px;
    margin-left: -60px;
    margin-top: -15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 176px;
    line-height: 111.5%;
    /* or 196px */

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(90, 90, 90, 0.1);


}
.partners-block{
    margin-top: 120px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.partners-block-h{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.partners-block-background-right{
    position: absolute;
    width: 73%;
    height: 453px;
    background: #5B5B5B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.partners-block-background-left{
    position: absolute;
    width: 50%;
    right: 0px;
    height: 390px;
    background: #CCB2A3;
    display: flex;
    justify-content: start;
}
.partners-block-background-left-2{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 31%;
    top: 390px;
    background: #FF9619;
}
.partners-block-background-left-img{
    position: absolute;
    margin-top: 30px;
    z-index: 2;
}
.partners-block-flag{
    position: absolute;
    width: 149px;
    height: 110px;
    left: 65%;
    bottom: 90%;
    
    background: #FF9619;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    z-index: 1;
}
.partners-block-flag-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    /* or 19px */
    margin: 0 49px 22px 11px;
    display: flex;
    align-items: center;
    letter-spacing: 0.245em;

    color: #FFFFFF;
}
.partners-block-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-right: 220px;
    width: 470px;
}

.partners-block-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    /* or 35px */

    display: flex;
    align-items: center;
    font-variant: small-caps;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.partners-block-title div::first-letter{
    color: #FF9619;
}
.partners-block-sub-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    /* or 25px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 15px;

    color: #FFFFFF;
}
.partners-block-sub-title-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 20px;

    color: #FFFFFF;
}
.partners-block-button{
    width: 268px;
    height: 43px;
    margin-top: 60px;

    

    background: #FF9619;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.partners-block-header{
    width: 1170px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #343434;
}
.partners-block-header div::first-letter{
    color: #FF9619;
}
.furniture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.furniture-example{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.furniture-example-img{
    margin: 10px;
}
.catalog-selected-type{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.catalog-selected-type-data{
    display: flex;
    width: 1170px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.catalog-selected-type-data-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
}
.catalog-selected-type-data-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    overflow: hidden;
}
.catalog-selected-type-data-item-img img{
    width: 90%;
}
.catalog-selected-type-data-item:hover img{
    width: 95%;
    transition: 0.2s;
}
.catalog-selected-type-data-item:hover .catalog-selected-type-data-item-text{
    color: #FF9619;
    transition: 0.2s;
}
.catalog-selected-type-data-item-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    /* or 20px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #343434;

}
.catalog-items{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.cataog-items-data{
    display: flex;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog-items-data-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    margin: 15px;
    margin-bottom: 65px;
}
.catalog-catalog-items-data-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 268px;
    overflow: hidden;
    background: #F2F3F5;
}
.catalog-items-data-item-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    
    text-transform: uppercase;
    margin-top: 23px;
    color: #343434;
    
}
.catalog-filters{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}
.catalog-filters-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}
.catalog-filters-block-left-item{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 140px;
    height: 40px;
}
.catalog-filters-block-left-item-img{
    margin-left: 10px;
}
.catalog-filters-block-left-item-list-item a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 185.5%;
    /* or 32px */

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 11px;
    color: #343434;
    text-transform: none;
}
.catalog-filters-block-left-item-list-item:hover{
    background: #FF9619;
}
.catalog-filters-block-left-item-list-item:hover a{
    color : #fff;
}
.catalog-filters-block-left-item-catalog:hover .catalog-filters-block-left-item-list{
    visibility: visible;
}
.catalog-filters-block-left-item-list{
    visibility: hidden;
    position: absolute;
    width: 240px;
    margin-top: 275px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.catalog-filters-block-left-item-list-item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 185.5%;
    /* or 32px */

    display: flex;
    align-items: center;

    color: #343434;
   
    justify-content: start;
    width: 100%;
    height: 39px;

}
.catalog-filters-block-right{
    display: flex;
    align-items: center;
    justify-content: start;
}
.catalog-filters-block-right-4, .catalog-filters-block-right-2{
    margin: 10px;
}
.catalog-filters-block-right-search, .catalog-filters-block-right-search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.catalog-filters-block-right-search-form{
    border: 1px solid #343434;
    width: 270px;
    margin-left: 23px;
}
.catalog-filters-block-right-search-form input[type="text"]{
    /* border: 0; */
    background: none;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0.5rem;
    width: 240px;
    outline: none;
    color: #3d3d3d;
    transition: 0.25s;
}
.catalog-filters-block-right-search-form input[type="text"]:focus{
    width: 240px;
}
.catalog-filters-block-right-search-form button{
    border: 0;
    background: none;
    margin: 5px
}
.furniture-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.furniture-main-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}
.furniture-main-block-text{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 375px;
}
.furniture-main-block-text-name{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    /* or 52px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #343434;
    margin-bottom: 30px;

}
.furniture-main-block-text-collection{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;

    color: #343434;
    margin-bottom: 15px;
}
.furniture-main-block-text-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #343434;
    margin-bottom: 15px;
}
.furniture-main-block-text-price{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FF9619;
    margin-bottom: 15px;
}
.furniture-main-block-text-button{
    margin-top: 15px;
    width: 288px;
    height: 50px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    background: #FF9619;
}
.furniture-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 185px;
}
.furniture-gallery-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1440px;
}
.furniture-gallery-block-item{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    overflow: hidden;
}
.furniture-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 185px;
}
.furniture-info-block{
    width: 1170px;
    border: 1px solid rgba(52, 52, 52, 0.2);
}
.furniture-info-block-tab-items{
    display: flex;
}
.furniture-info-block-tab-item{
    flex: 0 1 33.333%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F3F5;
    border: 1px solid rgba(52, 52, 52, 0.2);
}
.furniture-info-block-tab-item span{
    position: relative;
    z-index: 2;
}
.furniture-info-block-body-item-info-block{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    margin: 18px;
}
.furniture-info-block-body-item{
    display: none;
    position: relative;
}
.furniture-info-block-body-item::before{
    content: "";
    height: 81px;
    width: 33.333%;
    position: absolute;
    top: -92px;
}
.furniture-info-block-body-item:nth-child(1)::before{
    left: 0;
    background-color: #fff;
    border: none;
}
.furniture-info-block-body-item:nth-child(2)::before{
    left: 33.333%;
    background-color: #fff;
    border: none;
}
.furniture-info-block-body-item:nth-child(3)::before{
    right: 0;
    background-color: #fff;
    border: none;
}
.furniture-info-block-body-item:target{
    display: block;
}
.furniture-info-block-body-item-point{
    background: #FF9619;
    width: 9px;
    height: 9px;
    border-radius: 100%;
}
.furniture-info-block-body-item-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 127.5%;
    /* or 18px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    font-variant: small-caps;

    color: #343434;
    width: 750px;
}
.furniture-info-block-body-item-name{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}
.furniture-info-block-body-item-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 127.5%;
    /* or 20px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #343434;
    margin-left: 20px;
    width: 155px;
}
.full-cicle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A9C2BE;
    height: 329px;
    margin-top: 120px;
    position: relative;
    z-index: -2;
}
.full-cicle-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}
.full-cicle-dark{
    position: absolute;
    width: 45%;
    height: 149%;
    margin-top: 66px;
    right: 0;
    background: #5B5B5B;
    z-index: -1;
}
.full-cicle-right{
    position: relative;
}
.full-cicle-right-img{
    margin-top: 45px;
}
.full-cicle-right-img-flag{
    position: absolute;
    width: 149px;
    height: 110px;
    right: -5%;
    background: #FF9619;
    z-index: 3;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
.full-cicle-right-img-flag div{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 129.5%;
    /* or 19px */

    display: flex;
    align-items: center;
    letter-spacing: 0.245em;

    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: 15px;
}
.full-cicle-left-header{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140.5%;
    /* or 28px */

    display: flex;
    align-items: center;
    font-variant: small-caps;

    color: #fff;
    margin-bottom: 25px;
}
.full-cicle-left-header div::first-letter {
    color: #FF9619;
}
.full-cicle-left-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 127.5%;
    /* or 23px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    margin-bottom: 25px;
    width: 381px;
}
.full-cicle-left-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF9619;
    width: 267px;
    height: 43px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 240px;
    position: relative;

}
.brand-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    position: relative;
}
.brand-block-left{
    width: 691px;
    height: 461px;
    position: relative;
    border: 5px solid #CCB2A3;
    margin-left: 40px;
    margin-top: 20px;
    z-index: -1;
}
.brand-block-left-img{
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 2;
}
.brand-block-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 439px;
    
}
.brand-block-right-main-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 129px;
    line-height: 111.5%;
    /* or 144px */

    display: flex;
    align-items: center;

    color: #5B5B5B;

}
.brand-block-right-text{
    margin-top: 25px;
}
.brand-block-right-text-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    /* identical to box height, or 27px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;

    color: #FFFFFF;

}
.brand-block-right-text-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    margin-top: 15px;
}
.brand-block-right-dark{
    position: absolute;
    width: 864px;
    height: 487px;

    top: 20%;
    right: 0;
    z-index: -1;
    background: #5B5B5B;
}
.individual-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    position: relative;
}
.individual-plus-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}
.individual-plus-block-left-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    /* or 27px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;

    color: #343434;
    width: 400px;
    margin-bottom: 25px;
}
.individual-plus-block-left-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    width: 400px;
    color: #343434;
}
.individual-plus-block-right-bg{
    position: absolute;
    height: 301px;
    width: 45%;
    background: #A9C2BE;
    z-index: -1;
    top: -34px;
    right: 0;
}
.individual-calculation{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 536px;
    width: 100%;
    margin-top: 180px;
}
.individual-calculation-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #5B5B5B;
}
.individual-calculation-bg img{
   width: 120%;
}
.individual-calculation-form{
    height: 100%;
    position: relative;
}
.individual-block-form{
    position: inherit;
    left: auto;
}
.individual-calculation-block{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 1170px;
}
.work{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5B5B5B;
    margin-top: 220px;
}
.work-block-left-img img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 722px;
    height: 496px;
}
.work-block-left-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 722px;
    height: 496px;
    overflow: hidden;
}
.work-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    position: relative;
}
.work-block-right{
    width: 460px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    margin-right: 145px;
}
.work-block-right-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    margin-bottom: 25px;
    color: #FFFFFF;
}
.work-block-right-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #FFFFFF;
}
.work-block-right-flag{
    position: absolute;
    width: 77px;
    height: 83px;
    right: 135px;
    top: -55px;
    background: #FF9619;
}
.individual-post-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 160px;
}
.individual-post-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 160px; */
}
.individual-post-left-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}
.individual-post-left-block-left-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #343434;

    margin-top: 42px;
    width: 533px;
}
.individual-post-left-block-left-header{
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 127.5%;
    /* identical to box height, or 45px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color: #343434;
}
.individual-post-left-block-left-header div::first-letter{
    color: #FFFFFF;
}
.individual-post-left-block-left-header-flag{
    position: absolute;
    top:0;
    left:-35px;
    width: 59px;
    height: 58px;

    background: #FF9619;
    z-index: -1;
}
.individual-post-right-block{
    display: flex;
    width: 1170px;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.individual-post-right-block-body{
    display: flex;
    width: 1170px;
    align-items: center;
    justify-content: space-between;
}
.individual-post-right-block-header-text{
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 127.5%;
    /* identical to box height, or 45px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    margin-bottom: 58px;
    color: #343434;
}
.individual-post-right-block-header-text div::first-letter{ 
    color: #FFFFFF;
}
.individual-post-right-block-header-flag{
    position: absolute;
    top:0;
    left:-35px;
    width: 59px;
    height: 58px;

    background: #FF9619;
    z-index: -1;
}
.individual-post-right-block-body-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    width: 535px;
    color: #343434;

}
.contacts-header{
    margin-top: 80px;
    margin-bottom: 30px;
}
.contacts-header-block-header {
    margin-bottom: 0;
}
.contacts-place{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}
.contacts-place-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}
.contacts-place-block-item{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 370px;
    height: 302px;
    margin: 15px;
    position: relative
}
.contacts-place-block-item-bg{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.contacts-place-block-item-bg img{
    width: 101%;
}
.contacts-place-block-item-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: capitalize;

    color: #FF9619;
    margin-top: 75px;
    margin-left: 65px;
}
.contacts-place-block-item-addres{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 90%;
    /* or 14px */

    text-transform: capitalize;

    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 65px;
}
.contacts-place-block-item-place{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 90%;
    /* or 14px */

    font-variant: small-caps;

    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 65px;
}
.contacts-place-block-item-email{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 90%;
    /* or 14px */

    font-variant: small-caps;

    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 65px;
}
.contacts-place-block-item-phone{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 90%;
    /* or 14px */

    text-transform: capitalize;

    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 65px;
}
.designers-post-left-block-righ-img{
    position: relative;
    padding-right: 70px;
    padding-bottom: 51px;
}
.designers-post-right-block-body-img{
    position: relative;
    padding-left: 70px;
    padding-bottom: 51px;
}
.designers-bg{
    position: absolute;
    width: 282px;
    height: 333px;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #A9C2BE;
}
.designers-bg-right{
    position: absolute;
    width: 282px;
    height: 333px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: #5B5B5B;
}
.designer-flag{
    background: #A9C2BE;
}
.design-calculation-bg{
    display: flex;
    align-items: center;
    justify-content: start;
}
.design-calculation-bg img{
    width: 67%;
}
.design-form-height{
    height: 516px;
}
.design-calculation{
    height: 596px;
}
.partners-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.partners-left-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}
.partners-left-block-data-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 127.5%;
    /* or 38px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;

    color: #343434;
    margin-bottom: 30px;
}
.partners-left-block-data-subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #343434;

    margin-bottom: 15px;
}
.partners-left-block-data-description{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #343434;
}
.partners-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-slider-block{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 1170px;
}
.partners-slider-block-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 1170px;
    flex-wrap: nowrap;
}
.partners-slider-block-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 654px;
    height: 392px;
    background: #F2F3F5;
    padding-left: 143px;
}
.partners-slider-block-text-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FF9619;

    margin-bottom: 20px;
}
.partners-slider-block-text-title{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 110%;
    /* or 39px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #343434;
    width: 418px;
    margin-bottom: 24px;
}
.partners-slider-block-text-description{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #343434;
}
